<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.BackendProductMapper">
    <select id="backendProduct" resultType="product">
        select *
        from shop_product
        limit #{offset},#{pageSize}
    </select>
</mapper>