<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.BackendOrderMapper">

    <select id="getBEOrder" resultType="order">
        select *
        from shop_order
        limit #{offset},#{pageSize};
    </select>

    <select id="getBEOrderItems" resultType="orderItems">
        select s.name, oi.quantity, (s.price * oi.quantity) price
        from order_items oi left join shop_product s on oi.pid = s.pid
        where oi.oid = #{oid};
    </select>

    <update id="editBEOrderStatus">
        update shop_order set status = #{status}
        where oid = #{oid};
    </update>

    <select id="getBEOrderCount" resultType="integer">
        select count(*)
        from shop_order;
    </select>

</mapper>