<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.BackendUserMapper">

    <select id="backendUser" resultType="User">
        select *
        from shop_user
        limit #{offset},#{pageSize};
    </select>

    <update id="userEdit">
        update shop_user set username = #{user.username}, password = #{user.password}, email = #{user.email}
        where uid = #{user.uid};
    </update>

    <delete id="userDel">
        delete from shop_user
        where uid = #{uid};
    </delete>

    <select id="userCount" resultType="int">
        select count(*)
        from shop_user
    </select>
</mapper>