<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.mapper.BackendProductMapper">
    <select id="backendProduct" resultType="product">
        select *
        from shop_product
        limit #{offset},#{pageSize}
    </select>

    <select id="backendProductCount" resultType="integer">
        select count(*)
        from shop_product;
    </select>

    <update id="backendProductEdit">
        update shop_product set name = #{product.name}, price = #{product.price}, type = #{product.type}
        where pid = #{product.pid};
    </update>

    <delete id="backendProductDel">
        delete from shop_product
        where pid = #{pid};
    </delete>

    <insert id="backendProductNew">
        insert into shop_product (`pid`,`name`,`price`,`image`,`type`) values (#{product.pid},#{product.name},#{product.price},#{product.image},#{product.type});
    </insert>
</mapper>